*,*::before,*::after{
    padding: 0;
    margin: 0;
    @include prefex(box-sizing, border-box);
}

html{
    @include prefex(scroll-behavior, smooth)
}

body{
    font-family: $fontFamily;
    font-size: 18px;
    font-weight: 400;
    background-color: $hardDark;
    line-height: 1.4;
    height: 4000px;
}

.container{
    position: relative;
    z-index: 2;
    width: 90%;
    height: 100%;
    margin: auto;
}
.clear{
    clear: both;
}

.mobile-menu{
    position: fixed;
    left: -50%;
    right: 0;
    width: 50%;
    height: 100vh;
    opacity: 0;
    z-index: 1000;
    background: linear-gradient($softDark, transparent);
    padding: 20px;
    transition: .2s ease-in-out;
    a{
        display: block;
        text-decoration: none;
        text-align: center;
        color: $white;
        transition: .2s ease-in-out;
        padding: 20px 0;
        &:not(:last-child){
            margin-bottom: 20px;
        }
        i{
            margin-right: 10px;
        }
        &:hover{
            color: $lightYellow;
        }
    }
}
.mobile-menu-active{
    left: 0;
    opacity: 1;
}

.heading{
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    .heading-container{
        text-align: center;
        h1{
            color: $lightYellow;
            margin-bottom: 5px;
        }
        p{
            color: $grey;
            font-size: $smFontSize;
            margin-bottom: 10px;
        }
        div{
            width: 100%;
            height: 2px;
            background-color: $darkYellow;
            position: relative;
            &::after{
                content: "";
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: $darkYellow;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}
