//colors
$softDark: #202a36;
$hardDark: #161d27;
$lightYellow: #6c5ce7;
$darkYellow: #a29bfe;
$white: rgb(232, 230, 227);
$grey: rgb(200, 195, 188);
$yellowShadow: rgba(135, 86, 1,.1);

//font
$fontFamily: 'Rubik', sans-serif;


//typographie
$smFontSize: 14px;
$mdFontSize: 18px;
$smHeading: 25px;
$mdHeading: 35px;