*,*::before,*::after{
    margin: 0;
    padding: 0;
    @include prefex(box-sizing, border-box);
}

body {
    font-family: $fontFamily;
    line-height: 1.3;
    font-weight: 400;
    font-size: $smFontSize;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;
}


.flex{
    display: flex;

    //justify-content: space-between;
    &-jc-sb{
        justify-content: space-between;
    }
    //justify-content: center;
    &-jc-c{
        justify-content: space-between;
    }
    //align-items: center;
    &-ai-c{
        align-items: center;
    }
}

@media (max-width: 767px){
    .container{
        width: 90%;
    }
}